<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
</body>
<body class="bg-gradient-to-r from-cyan-300 to-slate-100">
  <main class="flex justify-center items-center min-h-screen">
    <article class="rounded-2xl bg-white shadow-xl flex max-w-3xl">
      <div class="image w-1/2">
        <img src="https://s0.bukalapak.com/img/56982622841/large/Gamis_Polos_Jersey_Murah_Gamis_Najma_Maxi_Dress_Muslim_Hijab.jpg.webp" class="rounded-l-2xl h-full" alt="">
      </div>
      <div class="w-1/2 px-14 py-12 flex flex-col justify-center">
        <section class="text-left mb-6">
            <h1 class="text-3xl font-semibold font-oswald text-tealPrimary">Register Page</h1>
        </section>
        <form method="post" action="/register/process" class="mt-4 font-oswald">
          <div>
            <input type="text" placeholder="Type your fullname here" name="fullname" class="w-full bg-slate-200 text-slate-900 p-2 rounded-md focus:outline-none focus:ring-tealPrimary focus:ring-1 focus:border-tealPrimary">
          </div>
          <div class="mt-4">
            <input type="email" placeholder="Type your email here" name="email" class="w-full bg-slate-200 text-slate-900 p-2 rounded-md focus:outline-none focus:ring-tealPrimary focus:ring-1 focus:border-tealPrimary">
          </div>
          <div class="mt-4">
            <input type="password" placeholder="Type your password here" name="password" class="w-full bg-slate-200 text-slate-900 p-2 rounded-md focus:outline-none focus:ring-tealPrimary focus:ring-1 focus:border-tealPrimary">
          </div>
          <div class="w-full">
            <button type="submit" class="w-full text-lg font-medium text-slate-200 bg-tealPrimary py-2 px-4 mt-6 rounded-full border border-tealPrimary hover:bg-slate-900 transition duration-500 ease-in-out hover:text-white hover:shadow-lg">Register</button>
          </div>
        </form>
        <section class="text-center text-base mt-3">
            <div class="font-medium text-slate-400">Do you have an account ? <a href="/login" class="font-semibold text-tealPrimary hover:text-teal-300 hover:underline hover:decoration-white transition duration-300">Login</a></div>
        </section>
      </div>
    </article>
  </main>
</body>
</html>